<%= partial "stylesheets/normalize" %>
<%= partial "stylesheets/skeleton" %>
<%= partial "stylesheets/synh" %>

footer.container {
    padding-top: 25px;
    text-align: center;
    font-size: 1.0rem;
}

header {
    background: #E2E2E2;
    margin-bottom: 40px;
}

.date-art-title {
    font-variant: all-small-caps oldstyle-nums;
    font-size: 0.6em;
    font-weight: 500;
}


a {
    color: #4db6ac;
    text-decoration: underline dotted;
}

a:hover {
    text-decoration: underline solid;
}


