<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Blog Title<%= ' - ' + current_article.title unless current_article.nil? %></title>
        <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
        <%= stylesheet_link_tag :site %>
     </head>
     <body>
         <header>
             <div class="container">
                 <h1>Blog</h1>
             </div>
         </header>
         <div id="main" class="row">
             <%= yield %>
         </div>
         <footer class="container">
             <%= link_to 'CC-BY-SA-4.0', 'https://creativecommons.org/licenses/by-sa/4.0/' %><br />
             <%= link_to 'Code at Gitlab', 'https://gitlab.com/Arvamer/blog' %>
         </footer>
    </body>
</html>
