---
pageable: true
per_page: 10
---
<div class="container">
    <% if paginate && num_pages > 1 %>
      <p>Page <%= page_number %> of <%= num_pages %></p>

      <% if prev_page %>
        <p><%= link_to 'Previous page', prev_page %></p>
      <% end %>
    <% end %>

    <% page_articles.each_with_index do |article, i| %>
        <h2>
            <%= link_to article.title, article %>
            <span class="date-art-title"><%= article.date.strftime('%e %b %Y') %></span>
        </h2>
      <%= article.summary %>
      <%= link_to 'Read more…', article %>
    <% end %>

    <% if paginate %>
      <% if next_page %>
        <p><%= link_to 'Next page', next_page %></p>
      <% end %>
    <% end %>
</div>
